<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Confetti Cuisine</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/confetti_cuisine.css" />
  </head>

  <body>
    <!-- create navigation -->
    <div id="nav">
      <div class="col-sm nav-align"><h1 id="title">Confetti Cuisine</h1></div>
      <div class="col-sm nav-align">
        <!-- create navigation buttons -->
        <a href="/"> <span class="button">Home</span> </a>
        <a href="/courses.html"> <span class="button">Courses</span> </a>
        <a href="/contact.html"> <span class="button">Contact</span> </a>
        <a href="/questions.html"> <span class="button">Questions</span> </a>
      </div>
    </div>
     <!-- create container -->
    <div class="container">
      <div class="col-sm-10">
        <!-- create form -->
        <!-- add action and method to form so sumbit button redirects to thanks.html -->
        <!-- form validation requirements -->
        <form action="thanks.html" method="POST">
            <h2>Please fill out the form below with your questions.</h2>      
            <ul>        
                <label for="fname">First Name:</label>      
                <input type="text" name="fname" id="fname" required="" minlength="2" maxlength="20" pattern="[A-Za-z].{2,}" placeholder = "First Name">      
                
                <label for="lname">Last Name:</label>      
                <input type="text" name="lname" id="lname" required="" minlength="2" maxlength="20" pattern="[A-Za-z].{2,}" placeholder = "Last Name">      
            
                <label for="phone">Phone number:</label>
                <input type="tel" name="phone" id="phone" required="" maxlength="10" pattern="[0-9]{10}" placeholder = "xxxxxxxxxx">     
           
                <label for="email">Email address:</label>     
                <input type="email" name="email" id="email" required="" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{3}" placeholder = "example@email.com">      
             
                <label for="address">Street Address:</label>
                <input type="text" name="address" id="address" required="" minlength="2" maxlength="15" pattern="[a-zA-Z].{2,}" placeholder = "Street Address">     
              
                <label for="city">City:</label>      
                <input type="text" name="city" id="city" required="" minlength="2" maxlength="20" pattern="[a-zA-Z].{2,}" placeholder = "City">      
                 
                <label for="state">State:</label>      
                <input type="text" name="state" id="state" required="" minlength="2" maxlength="2" pattern="[A-Z]{2}" placeholder = "State">      
                   
                <label for="comment">Questions:</label>  
                <textarea name="comment" id="comment" required="" min length="2" maxlength="100"></textarea>  

                <!-- create submit button -->
                <input class="button" type="submit" value="submit"/>

            </ul>
          </form>
      </div>
    </div>
  </body>
</html>
